<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Megha Patel</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/nav.js"></script>
    <script src="/javascripts/scroll.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- aos library -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <style>
      path, polyline {
          fill: none;
          stroke: #231F20;
          stroke-width: 2;
     }
      path {
          stroke-dasharray: 11, 5; 
      }
  </style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>


</head>
<body>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <!-- typedJS -->
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

    <!-- navbar -->
    <header>
      <input type='checkbox' id='toggle' style='display:none;' />
      <label class='toggle-btn toggle-btn__cross' for='toggle'>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </label>
      <nav>
        <ul>
          <li><a href="#about" data-target="about">ABOUT</a></li>
          <li><a href="#work">WORK</a></li>
          <li><a href="#contact">CONTACT ME </a></li>
        </ul>
      </nav>
    </header>


    <div class="main-back">
      <div class="megha-back" id="top-image">
    <img src="/images/megha1.png" alt="">
    <div class="hello" id="hello">
      <p >Hii There,</p>
      <p>It's Megha Patel</p>
      <p> I am 
        <a href="" class="typewrite" data-period="2000" data-type='[ "Developer", "Designer", "Innovator", "Graphic Designer" ]'>
          <span class="wrap"></span>
        </a>
      </p>
      
  </div>
  </div>
   
  </div>
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/utils/Draggable.min.js""></script> 
  <script>
          $("#top-image").mousemove(function(e) {
          parallaxIt(e, ".hello", -100);
          parallaxIt(e, "img", -30);
        });

        function parallaxIt(e, target, movement) {
          var $this = $("#top-image");
          var relX = e.pageX - $this.offset().left;
          var relY = e.pageY - $this.offset().top;

          TweenMax.to(target, 1, {
            x: (relX - $this.width() / 2) / $this.width() * movement,
            y: (relY - $this.height() / 2) / $this.height() * movement
          });
        }
  </script>



<div class="web-back" id="web-back">
  <img src="/images/back-7.png" alt="">
</div>


<h3 class="subtitle" data-aos="fade-up" data-aos-duration="3000" id="about"> WHO ?</h3>
<div class="para">
<p data-aos="fade-up" data-aos-duration="3000"> 
  Designer that codes based in Toronto, ON, Canada. </p>
  <p data-aos="fade-up" data-aos-duration="3000" data-aos-delay="200"> I am Web-developer with 12 months of experience. 
  I have maintained and created static and dynamic websites in my </p>
<p data-aos="fade-up" data-aos-duration="3000" data-aos-delay="200">career. I studied computer programmer course
in Georgian college. I love working on projects that require multidisciplinary </p>
<p data-aos="fade-up" data-aos-duration="3000" data-aos-delay="400"> skill sets solving complex problems and make lives of people easy. I also worked for non-profit organization, where I managed their website, </p>
<p data-aos="fade-up" data-aos-duration="3000" data-aos-delay="600"> designed flyers and banners and also participated in social events, now I am working for MSP company in toronto as Web developer,  </p>
 <p data-aos="fade-up" data-aos-duration="3000" data-aos-delay="800">  where i have created their official company's website and also developed applications for our clients. I am specialized in Design and coding.
 </p>
<p data-aos="fade-up" data-aos-duration="3000" data-aos-delay="1000"> 
I have extensive experience in visual and interaction design. I am a Front End Developer focusing on modern framework ,NodeJS-ExpressJs,</p> 
<p data-aos="fade-up" data-aos-duration="3000" data-aos-delay="1200">  React,  HTML  CSS,  JavaScript and jQuery. I also have experience with managing and integrating databases with website or application,
</p>
<p data-aos="fade-up" data-aos-duration="3000" data-aos-delay="1000"> like monogoDB, SQLite. </p>
</div>


<!-- mobile para -->
<div class="para-mobile" id="about">
  <p data-aos="fade-up" data-aos-duration="3000"> 
    Designer that codes based in Toronto, ON, Canada.

I am Web-developer with 12 months of experience. I have maintained and created static and dynamic websites in my

career. I studied computer programmer course in Georgian college. I love working on projects that require multidisciplinary

skill sets solving complex problems and make lives of people easy. I also worked for non-profit organization, where I managed their website,

designed flyers and banners and also participated in social events, now I am working for MSP company in toronto as Web developer,

where i have created their official company's website and also developed applications for our clients. I am specialized in Design and coding.

I have extensive experience in visual and interaction design. I am a Front End Developer focusing on modern framework ,NodeJS-ExpressJs,

React, HTML CSS, JavaScript and jQuery. I also have experience with managing and integrating databases with website or application,

like monogoDB, SQLite.</p>
  </div>
<!-- mobile para finished -->


<div class="desktop" id="work">
<!--  horizontal box -->
<div id="main">
<div id="process-wrap">
<div id="process" class="horizontal-container">
  <section class="horz">
      <div class="wrap">
        <!-- viewBox="0 0 5321.96 736.46" -->
          <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 5921.96 736.46" id="timelinesvg" >
           
            <text class="step step-01" transform="translate(250 227.72)" >
             <tspan> WHAT I'M UP TO ?</tspan>
            </text>
            <!-- <rect class="step step-02" x="150" width="150" height="150" rx="15" transform="translate(692.33 340.72)" color="white" >
            <text> Ceating Beautiful Websites
              Innovation of new Graphics
            </text>
            </rect> -->
            <text x="60" y="20" class="step step-02" transform="translate(692.33 340.72)" rotate="10">
              <tspan x="10" y="45">Developing beautiful websites</tspan>
              <tspan x="10" y="90">Innovation of new Graphics</tspan>   
              <tspan x="10" y="135"> Learn new modern Technologies</tspan> 
            </text>
            <text class="step step-03" transform="translate(1330.24 295.72)">
              <tspan fill="#383101">
              Currently I'm Doing...
              </tspan>
            </text>
            <g>
              <rect  class="step step-04" transform="translate(1942.1 306.72)" width="920" height="500"  rx="35" fill="#D9BC00"></rect>
              <text class="step step-04" transform="translate(1942.1 306.72)" font-family="Verdana"  fill="black">
              <tspan x="370" y="-15" font="bold 40px">WEB DEVELOPER</tspan>
              <tspan x="10" y="50" font-size="20" > &#10084; Expertise in Node-Express.js javascript framework. </tspan>
              <tspan x="10" y="90" font-size="20"> &#10084; Creating static websites which are working well with all size devices and all browsers</tspan>
              <tspan x="10" y="130" font-size="20">  with google analytics and great SEO content.</tspan>
                <tspan x="10" y="170" font-size="20"> &#10084; Building website using ReactJs, JavaScript, HTML and CSS </tspan>
                <tspan x="10" y="210" font-size="20">&#10084; Developing beautiful applications using python and Django programming languages.</tspan>
                <tspan x="10" y="250" font-size="20">&#10084; Integrating graphics, audio, and video into the website contents</tspan>
                <tspan x="10" y="290" font-size="20">&#10084; Experience with GIT and Bitbucket version control gained by collaborate in teams </tspan>
                <tspan x="10" y="330" font-size="20"> &#10084; Integrating database with application, Have great
                   </tspan>
                   <tspan x="10" y="370" font-size="20"> experience in MongoDB and SQLite database</tspan>
                <tspan x="10" y="410" font-size="20">  &#10084; Fixing bugs and troubleshooting problems on  going website. </tspan>
                  <tspan x="10" y="450" font-size="20"> &#10084; Creating creative graphics using Photoshop, illustrator, XD, After Effect and more </tspan>
                      <tspan x="10" y="490" font-size="20">  &#10084; Keen knowledge in cloud hosting, worked with Azure, Google cloud, Heroku, GoDaddy. </tspan>
                        <tspan x="10" y="530" font-size="20"> </tspan>
              </text>
            </g>
            <!-- <text class="step step-04" transform="translate(1952.1 396.72)">Client Approval</text> -->
            <text class="step step-05" transform="translate(2630.96 42.72)">Design</text>
            <text class="step step-06" transform="translate(3042.1 245.72)">Graphic designing</text>
            <text class="step step-07" transform="translate(3883.88 190.72)">Previously I was doing...</text>
            <g>
              <rect  class="step step-08" transform="translate(4480.1 322.72)" width="690" height="485"  rx="35" fill="#D9BC00"></rect>
              <text class="step step-08" transform="translate(4480.1 322.72)" font-family="Verdana"  fill="black">
              <tspan x="190" y="-20" font="bold 25px">WEB & GRAPHIC DESIGNER </tspan>
                <tspan x="10" y="50" font-size="20"> &#10084; Designing logos, flyers and banners for social events  </tspan>
                <tspan x="10" y="85" font-size="20"> and programmes. </tspan>
              <tspan x="10" y="120" font-size="20"> &#10084; Working on Websites, adding new features on hosted </tspan>
                <tspan x="10" y="155" font-size="20">   websites using WordPress and its amazing plugins.   </tspan>
                  <tspan x="10" y="190" font-size="20">&#10084; Participated in many social events, oragnized all the </tspan>
                  <tspan x="10" y="225" font-size="20">programmes and manage the activities.</tspan>
                    <tspan x="10" y="260" font-size="20"> &#10084; Learned exceptional verbal and non-verbal communication</tspan>
                      <tspan x="10" y="295" font-size="20"> skills, excellent time- management skills </tspan>
                      <tspan x="10" y="330" font-size="20"> &#10084; Project management skill, manage projects and team work   </tspan>
                      <tspan x="10" y="365" font-size="20"> using JIRA software.</tspan>
                        <tspan x="10" y="400" font-size="20"> &#10084;  Skilled in analyzing complex situations, and Effective</tspan>
                          <tspan x="10" y="435" font-size="20">  leadership qualities utilized to motivate and guide  </tspan>
                          <tspan x="10" y="470" font-size="20">  &#10084; Implement new features and improve current features. </tspan>
              </text>
            </g>

            <!-- <text class="step step-08" transform="translate(4480.1 372.72)">Client Approval</text> -->
            <text class="step step-09" transform="translate(5105.81 192.72)">TADA ..!!!</text>

            <path class="time" stroke-linecap="round" stroke-width="24px" stroke-miterlimit="10" d="M655,527.31s322.07-25.41,533.19,93.83c71.79,40.55,172.58,86.68,266.25,112.56,18,5,103.06,30,210.7,21.67,151.82-11.73,329.71-90.74,383.13-117.12,144-71.08,340.79-73.54,461.33-75.1,85.24-1.1,267.8-.65,477.6-112.72S3531.93,302.31,3773,492.78s521.92,227.4,799.49,92.52,520-63.85,520-63.85" transform="translate(-200.6 -342.53)"/>
            
        
          </svg>
      </div>
  </section>
  </div></div>
</div>



<script>
// Init ScrollMagic
var controller = new ScrollMagic.Controller();
// GSAP Timline vars
var horzTl = new TimelineMax();
var processTl = new TimelineMax();
var talkTl = new TimelineMax();

// ScrollMagic scenes
// horizontal scrolling scene
var horzScene = new ScrollMagic.Scene({
    triggerElement: '#process',
    triggerHook: 0,
    duration: '280%'
})
.setTween(horzTl)
.setPin('#process')
.addTo(controller);

// process scene
var processScene = new ScrollMagic.Scene({
    triggerElement: '#process',
    triggerHook: 0,
    duration: '270%'
})
.setTween(processTl)
.addTo(controller);

var talkScene = new ScrollMagic.Scene({
    triggerElement: '#talk',
    triggerHook:0,
  reverse:false
})
.setTween(talkTl)
// .addIndicators()
.addTo(controller);


// Set timeline objects
horzTl
  //side scrolling
  .to('.horizontal-container', .2, {x: '-66.6666%', ease:Linear.easeNone})
;

processTl
  // steps
  .from('.step-01', .02, {autoAlpha:0}) 
  .add('line')
  .to('.time', 3, {strokeDashoffset:0, ease:Linear.easeNone}, 'line')  
    .from('.step-02', .02, {autoAlpha:0}, 'line+=.15')
    .from('.step-03', .02, {autoAlpha:0}, 'line+=.6')
    .from('.step-04', .02, {autoAlpha:0}, 'line+=1.07')
    .from('.step-05', .02, {autoAlpha:0}, 'line+=1.5')
    .from('.step-06', .02, {autoAlpha:0}, 'line+=1.75')
    .from('.step-07', .02, {autoAlpha:0}, 'line+=2.33')
    .from('.step-08', .02, {autoAlpha:0}, 'line+=2.75')
    .from('.step-09', .02, {autoAlpha:0})
;
;
</script>
</div>
    <!-- horizontal box finished -->

<!-- mobile scrolling starts -->
<div class="mobile-scroll-1">
<div class="mobile-scrolling-sub">
<h2>What I'm upto ?</h2>
<p>
  Developing beautiful websites 
  <br> Innovation of new Graphics 
  <br> Learn new modern Technologies
</p>
</div>
<div class="dss-1">
<h2>As a Web-developer</h2>
<h6>at DSS Toronto Inc.</h6>
<p>
  ❤ Expertise in Node-Express.js javascript framework. <br>
  ❤ Creating static websites which are working well with all size devices and all browsers with google analytics and great SEO content. <br>
  ❤ Building website using ReactJs, JavaScript, HTML and CSS <br>
  ❤ Developing beautiful applications using python and Django programming languages. <br>
  ❤ Integrating graphics, audio, and video into the website contents <br>
  ❤ Experience with GIT and Bitbucket version control gained by collaborate in teams <br>
  ❤ Integrating database with application, Have great experience in MongoDB and SQLite database <br>
  ❤ Fixing bugs and troubleshooting problems on going website. <br>
  ❤ Creating creative graphics using Photoshop, illustrator, XD, After Effect and more <br>
  ❤ Keen knowledge in cloud hosting, worked with Azure, Google cloud, Heroku, GoDaddy.

</p>
</div>
</div>
<!-- mobile scrolling finished -->





<div class="project-back">


    <h3 class="subtitle2 proud" data-aos="fade-up" data-aos-duration="3000">PROJECTS, I'M PROUD OF</h3>
    <div class="projects">
              <div class="tile">
                <img data-aos="fade-up" data-aos-duration="3000" data-aos-delay="200" src="/images/job5.PNG" alt="">
                <div class="details">
                  <span class="title">DSS Toronto</span>
                  <span class="info">Website made with MERN stack. Responsive and dynamic, user authentication by node and its libraries with full security.  </span>
                </div>
            </div>
            <div class="tile">
              <img data-aos="fade-up" data-aos-duration="3000" data-aos-delay="200" src="/images/tournament.PNG" alt="">
              <div class="details">
                <span class="title">Tournament Web</span>
                <span class="info"> This project was made by nodeJS-ExpressJs javascript framework, using jade as frontend.  </span>
              </div>
          </div>
    </div>
    <div class="projects">
        <div class="tile">
          <img data-aos="fade-right" data-aos-duration="3000"  data-aos-delay="300" src="/images/job1.jpg" alt="">
          <div class="details">
            <span class="title">Job fair</span>
            <span class="info">This project is a part of my first Co-op. Designed flyers, banners and social media marketing plus email template designed.</span>
          </div>
        </div> 
        <div class="tile">
          <img data-aos="fade-left" data-aos-duration="3000"  data-aos-delay="600" src="/images/job2.jpg" alt=""  >
          <div class="details">
            <span class="title">Interfaith dialogue </span>
            <span class="info"> This project was social event  agianst violence, During my first Co-op i participated in this event. Designed website using WordPress and all the flyers and banners made from canvas and Adobe CC. </span>
          </div>
        </div>
        <div class="tile">
          <img data-aos="fade-right" data-aos-duration="3000"  data-aos-delay="900" src="/images/job3.png" alt="">
          <div class="details">
            <span class="title">Everything's Store</span>
            <span class="info"> This was a project from my college. Website was created with ASP.net and bootstrap for front end. The concept was same as amazon.  </span>
          </div>
        </div>
        <div class="tile">
          <img data-aos="fade-left" data-aos-duration="3000" data-aos-delay="1200" src="/images/job4.jpg" alt="">
          <div class="details">
            <span class="title">Shopping App</span>
            <span class="info"> Shopping IOS app, developed with swift language on Xcode. </span>
          </div>
        </div>
    </div>

</div>

<div class="out-side-work">
<h3 class="subtitle2" style="color: grey;">OUTSIDE OF WORK</h3>
    <div class="interests">
      <div class="music">
        <h4>Music</h4>
      </div>
      <div class="photography">
        <h4>Photography</h4>
      </div>
      <div class="tech">
        <h4>Learning</h4>
      </div>

    </div>
    <div class="customer-service">
      <p>When I am not working on websites, I mainly watch movies, learning new Technologies, Photoshop or eating food. 
        I am also working at Loblaws as Team member in café as a part timer. 
        i like this job because I like customer service and I love coffee. 
        I also awarded as best employee of the year at lablaws.</p>
        <img src="/images/parttime.png" alt="">
    </div>
  </div>
  <h3 class="subtitle3" id="contact">CONTACT ME</h3>
  <div class="contact">
      <div class="detail">
        <p><i class="fa fa-home"></i>
          711 Finch Ave West, Toronto, ON, Canada</p>
          <a href="mailto:meghapatel1903@gmail.com?Subject=Hello%20again" target="_top">
          <p>
          <i class="fa fa-envelope"></i> 
          meghapatel1903@gmail.com
        </p>
      </a>
      </div>
      <div class="contact-form">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2881.1422238228015!2d-79.46367878427422!3d43.76990645289361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2dfad1196095%3A0x7e0fe0520d8219e0!2s711%20Finch%20Ave%20W%2C%20Toronto%2C%20ON%20M3H%204X6!5e0!3m2!1sen!2sca!4v1583512326099!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </form>
      </div>
</div>

</body>
</html>